@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
}

.order-details-container {
  display: flex;
  justify-content: space-around;
}

.calculation {
  border-top: 10px, solid, black;
}

/* .menu-modal-items {
  display: flex;
} */

.tip-container {
  display: flex;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
}

.receipt-center {
  text-align: center;
}

.receipt-right {
  text-align: right;
}

.receipt {
  background-color: #BDADEA;
  margin-top: 100px;
  margin-right: 125px;
  margin-left: 125px;
  border-radius: 10px;
}

.receipt-items {
  margin-top: 45px;
  margin-right: 75px;
  margin-left: 75px;
  margin-bottom: 30px;
}
