@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3C433D;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
}

.order-details-container {
  display: flex;
  justify-content: space-around;
}

.calculations {
  border-top: 2px solid white;
  margin-top: 20px;
  padding-top: 10px;
}

/* .menu-modal-items {
  display: flex;
} */

.tip-container {
  display: flex;
}

.receipt-row {
  display: flex;
  justify-content: space-between;
}

.receipt-center {
  text-align: center;
}

.receipt-right {
  text-align: right;
}

.receipt {
  background-color: #BDADEA;
  margin-top: 100px;
  margin-right: 175px;
  margin-left: 175px;
  border-radius: 10px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.receipt-items {
  margin-top: 100px;
  margin-right: 125px;
  margin-left: 175px;
  margin-bottom: 30px;
}

/* .revenue-total {
  
} */

.order-card {
  background-color: #BDEDEA;
}

.order-page-titles {
  text-align: center;
  color: white;
}

/* .revenue-table {
  background-color: black;
} */

.table-row {
  background-color: black;
}

.form-text {
  color: white;
}

.app-button {
  background-color: #4381C1;
}

.black-text {
  color: black;
}

.tip-boxes {
  margin-left: 40px;
}

.total-area {
  margin-right: 125px;
}
