@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.order-cards {
  display: flex;
  flex-wrap: wrap;
}

.order-details-container {
  display: flex;
  justify-content: space-around;
}

.calculation {
  border-top: 10px, solid, black;
}

/* .menu-modal-items {
  display: flex;
} */
